body{
  background-color: rgb(232,232,232);
  display: flex;
  justify-content: center;
  color: black;
}

#main-container{
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 600px;
  height: 100%;
  padding: 20px;
}

#container1{
  border: 1px solid black;
  background-color: #ffff;
  width: 97%;
  padding: 10px;
}

.input-container{
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Input-container2{
  align-items: center;
}

#sub-container{
 display: flex;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

#subInput{
  background-color: #ffff;
  width: 85%;
}

Input{
  border: none;
}

input{
  border: none;
}

h4{
  font-weight: 590;
}

#map{
  display: flex;
  border: 1px solid black;
  align-items: center;
  background-color: #ffff;
  width: 97%;
  padding: 10px;
}

Button{
  background-color: rgb(128, 25, 25);
  
}

#btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(232,232,232);
}